{% extends "crm/base.html" %}
{% load static %}
{% load bootstrap %}
{% comment %} {% bootstrap_css %}         {# Embeds Bootstrap CSS #} {% endcomment %}
{% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}

{% block extrahead %}       {# Extra Resources Start #}
{{ form.media }}            {# Form required JS and CSS #}
{% endblock %} 

{% block content %}




<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="">
      <h5 class="display-5 heading my-3 py-2 px-2">Add Company</h5>

                <form action="" method="POST">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <hr>
                    <div class="overflow-auto">
                        <div class="form-inline">
                            <div class="form-group">
                                {# {{ent_form|bootstrap_horizontal:'col-lg-4'}}  #}
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <div class="">
                        <input class="btn btn-primary" type="submit" name="Submit">
                    </div>
                    <hr>
                </form>
    
            </div>
        </div>
     <div class="col-6">
                <h1 class="display-5 ">Company</h1>
               <table class="table">
     <thead>
       <tr>
         <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
     
         {% for item in company  %}
             <tr>
         <td>{{item.company_Name}} 
        <a href="{% url "companydelete" item.id %}" class="btn btn-danger float-end">Delete</a>
        <a href="{% url "companyupdate" item.id %}" class="btn btn-primary float-end mx-2">Update</a>
   
         </td>
         
       </tr>
         {% endfor %}
   
      
     </tbody>
   </table>
        </div>
    </div>
</div>


{% endblock %}
