{% extends 'crm/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-5 my-2">
            <h1 class="display-6  py-2 px-2 my-2 mx-2">Contact Person Info</h1>

            <div class="card card-body">
           
            <hr>
            <a class="btn btn-outline-primary  btn-sm btn-block my-2 py-2" href="{% url 'contactpersonupdate' person.id %}">Update Contact Person</a>
            <a class="btn btn-outline-danger  btn-sm btn-block py-2" href="{% url 'contactpersondelete' person.id %}">Delete Contact Person</a>

        </div>
      </div>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Fields</th>
      <th scope="col">Information</th>
      
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Contact Name</th>
      <td>{{person.contact_name}}</td>
  
    </tr>
    <tr>
      <th scope="row">Company Name</th>
      <td>{{person.company_name}}</td>

    </tr>
    <tr>
      <th scope="row">Position</th>
      <td colspan="2">{{person.position}}</td>

    </tr>
     <tr>
      <th scope="row">Telephone No.</th>
      <td colspan="2">{{person.telephoneNo}}</td>

    </tr>
     <tr>
      <th scope="row">Email</th>
      <td colspan="2">{{person.email}}</td>

    </tr>
     <tr>
      <th scope="row">Skype</th>
      <td colspan="2">{{person.skype}}</td>

    </tr>
  <tr>
      <th scope="row">Wattsapp</th>
      <td colspan="2">{{person.wattsapp}}</td>

    </tr>
  </tbody>
</table>
            
        </div>
    </div>
</div>
{% endblock %}