{% extends "crm/base.html" %}
{% load static %}
{% block title %}
    UserScorecard
{% endblock title %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6">
			<div style="width:500px">
				
    <canvas id="myChart" width='400' height='400'></canvas>
			</div>
		</div>
		<div class="col-6">
			<div style="width:500px">
				
    <canvas id="myChart2" width='400' height='400'></canvas>
			</div>
		</div>
			<div class="center" >
			<div class='py-5 my-5' style="width:500px">
				
    <canvas id="myChart3" width='400' height='400'></canvas>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'crm/js/charts.js'%}"></script> 
<script>


var ctx = document.getElementById('myChart').getContext('2d');
var labels={{ positions|safe }}
var data={{data|safe}}

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        // labels: ['Manager', 'HR', 'Employee', 'Others'],
        datasets: [{
            // label: 'Number of users',
            data:data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
     options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Users'
      }
    }
  },
});

// second

var ctx = document.getElementById('myChart2').getContext('2d');
var Projectlabel={{ Projectlabel|safe }}
var Projectdata={{Projectdata|safe}}

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: Projectlabel,
        // labels: ['Manager', 'HR', 'Employee', 'Others'],
        datasets: [{
            // label: 'Number of users',
            data:Projectdata,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
     options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Projects'
      }
    }
  },
});
//third
var ctx = document.getElementById('myChart3').getContext('2d');
var Projectlabel={{ Projectlabel|safe }}
var Projectdata={{Projectdata|safe}}

// const labels =['Mon','Tue','Wed','Thur','Fri','Sat'];

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels:['Mon','Tue','Wed','Thur','Fri','Sat'],
    datasets:  [{
    label: 'Daily updates',
    data: [5, 5, 3, 7, 7, 10],
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
    },
     options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Tasks Updates'
      }
    }
  },
});

</script>
{% endblock content %}