{% extends "crm/base.html" %}
{% load static %}
{% block title %}

Task Update
{% endblock title %}
{% block content %}
 <style >

    .shadowM{
    box-shadow: 2px 2px 2px 2px rgba(2,0,4,0.2);
  }



.display-5{
  font-size: 20px;
  font-weight: 400
}


  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#id_project{
  padding: 10px;
  margin-bottom:5px;
}
#id_project_manager{
  padding: 10px;
  margin-bottom:5px;

}


#id_member {
 padding: 10px;
  margin-bottom:5px;

}
#id_updates {
 padding: 10px;
  margin-bottom:5px;
  min-width: 200px;
  max-width: 200px;
}
#id_team {
 padding: 10px;
  margin-bottom:5px;
  min-width: 200px;
  max-width: 200px;
}
#id_task_deadline {
 padding: 10px;
  margin-bottom:5px;
  min-width: 200px;
  max-width: 200px;
}
#id_task_assigned {
 padding: 10px;
  margin-bottom:5px;
  min-width: 200px;
  max-width: 200px;
  border:1px solid;
  border-radius: 2px;
}
 </style>


  <form method="POST" >
  <h1 class="text-center display-4">Task update</h1>
    {% csrf_token %}
      <main class="form-signin">
              <div class="mb-3">

        <label for="exampleFormControlTextarea1 " class="form-label text-left">Team</label><Br>
                  {{form.team}}
    </div>            
    
         <div class="mb-3">

        <label for="exampleFormControlTextarea1 " class="form-label text-left">Member</label><Br>
                  {{form.member}}


    </div>            

      <label for="floatingInput">Task assigned</label>
         <div class="form-floating">
      {{form.task_assigned}}
    </div>

  <label for="floatingInput">Updates</label>
          <div class="form-floating">
      {{form.updates}}    
      
    </div>

      <label for="floatingInput">Deadline</label>
           <div class="form-floating">
{{form.task_deadline}}    </div>




    {% for field in form %}
      <p>

        {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
        {% endfor %}
        </p>

      

      
    {% endfor %}
    
    <button class="w-50 btn btn-lg btn-primary " type="submit">Update</button>
</main>



    
  </form>
{% endblock content %}
