
{% extends 'crm/base.html' %}

{% block content %}

 <br>
    <div class="container">
    <div class="row">
        <div class="col">
            <h5>INVENTORY:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createinventory' %}">Manage Inventory</a>
                <table class="table table-sm">
                    <tr>
                        <th>Material</th>
                        <th>Quantity</th>
                    </tr>

                    {% for item in inventory %}
                        <tr>
                            <td>{{item.available_item}}</td>
                            <td>{{item.quantity}}</td>
                            <td><a class="btn btn-sm btn-primary" href="{% url 'updateinventory' item.id %}">Edit</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    </div>

{% endblock %}





