{% extends "crm/base.html" %}
{% load static %}
{% block title %}
    Service Agreement
{% endblock title %}
{% block content %}
 <div class="container">
   <div class="row ">
     
       <div class="col-8">
         <img src="{% static "images/agreement2.jpg" %}" class="img-fluid" alt="Image1" width="70%" height="70%">
       </div>
       <div class="col ">
<h1 class="display-1">Serivece</h1>
<h1 class="display-5">Agreement</h1>
<figure>
  <blockquote class="blockquote">
    <p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>
   
     </div>
     </div>
   </div>


{% endblock content %}