
{% extends 'service/main.html' %}

{% block content %}

 <br>

    <div class="row">
        <div class="col-md-5">
            <h5>SERVICES:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'createservice' %}">Create Service</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Service</th>
                        <th>Active</th>
                    </tr>

                    {% for service in services %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'servinfo' service.id %}">View</a></td>
                            <td>{{service.serviceId}}</td>
                            <td>{{service.Active}}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="col">
            <h6>Search Service</h6>
            <hr>
            <div class="card card-body">
                <form method="get">

                <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
	    </div>

    </div>

{% endblock %}





