
 {% extends 'profile/main.html' %}

{% block content %}

 <br>

    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>

                    {% for customer in customers %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'customerinfo' customer.id %}">View</a></td>
                            <td>{{customer.first_name}}</td>
                            <td>{{customer.contact}}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock %}





