{% extends "crm/main.html" %}

{% block content %}


   

   <div class="text-center">

      <h1 class="display-4"> DAILY UPDATES HERE </h1>
      <p class="font-italic">overview of all ongoing process</p>

   </div>
   <!-- <li>
    <a href="" style='font-size:1.2em' >USERS</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >EmployeeProfile</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Company</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Customer</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Vendor</a>
   </li> -->
   
   
{% endblock %}