{% extends 'crm/base.html' %}

{% block content %}

<br>
<div class="container">
    
    <div class="row">
        <div class="col">
            <h5 class="display-5">MonthSalary</h5>
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_sal' %}">Add MonthSalary</a>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Employee</th>
                        <th>Email</th>
                        <th>Department</th>
			<th>Month</th>
                        <th>Total Salary Amount</th>
                        <th></th>
                    </tr>

                    {% for salary in salaries %}
                        <tr>
                            <td>{{salary.employee.firstname}}</td>
                            <td>{{salary.employee}}</td>
          
                  <td>{{salary.employee.department}}</td>
		<td>{{salary.month}}</td>
 		  <td>{{salary.total_Salary_Amount}}</td>
                            <td><a class="btn btn-sm btn-primary" href="{% url 'monthsalinfo' salary.id %}">View</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
</div>

    </div>

{% endblock %}





