{% extends 'crm/base.html' %}
{% load static %}
{% load bootstrap %}
{% comment %} {% bootstrap_css %}         {# Embeds Bootstrap CSS #} {% endcomment %}
{% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}

{% block extrahead %}       {# Extra Resources Start #}
{{ form.media }}            {# Form required JS and CSS #}
{% endblock %} 

{% block content %}
<style type="text/css">
      #id_description{
    max-height: 100px
  }
  input{
    width:85%;
  }

.input100{width:100%;}
</style>



<div class="container">
    <div class="row">
               
        <div class="col">
                        <h5 class="display-5 heading my-3 py-2 px-2">Add PO</h5>

             <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {{po_form|bootstrap}}
                  <input class="btn btn-primary my-2 input100" type="submit" name="Submit">

              </form>

            </div>

                 <div class="col">
                    <h5 class="display-5">Add New Service</h5>
                     <form action="" method="POST" novalidate>
                    {% csrf_token %}
                 {{service_form|bootstrap_horizontal}} 

                        <input class="btn btn-primary my-2" type="submit" name="Submit">
                  </div>
                    
                </form>
                    </div>
                    <hr>
         
    </div>
</div>



{% endblock %}

<!-- card card-body -->